.tooltipster-punk {
	border-radius: 5px; 
	border-bottom: 3px solid #f71169;
	background: #fff;
	color: #000;
}
.tooltipster-punk .tooltipster-content {
	font-family: 'Courier', monospace;
	font-size: 14px;
	line-height: 16px;
	padding: 15px 20px;
}