@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

@media (max-width: 620px){
    .intro-slider .frame-top, .intro-slider .frame-right, .intro-slider .frame-bottom, .intro-slider .frame-left {
        display:none;
    }
    .socialbar, .bg-lightcreme, .bg-creme {
        margin-left:0;
        margin-right: 0;
    }
    .filters-section {
        margin-bottom: 15px;
    }
    
    
    .woocommerce-cart .product-price {
        display: none;
    }
    .slide-text h1, .intro-slider .bg-header .page-title {
        font-size:30px;
    }
    
    /* Home Bloks */
    .home-bloks .block1,
    .home-bloks .block2 {
        width: 100%;
        padding-bottom: 100%;
    }
    
    .home-bloks .block3   {
        width: 100%;
        padding-bottom: 50%;
    }
    
    .home-bloks .block3 figure,
    .home-bloks .block3 figcaption{
        width:50%;
    }
    
    .home-bloks .block3 .content-top{
        top: 7px;
        left: 7px;
        right: 7px;
        bottom: 7px;
    }
    .home-bloks .block3 figcaption.content-bottom {
        top: 7px;
        right: 7px;
        left: 50%;
    }
    .products .type-product .overlay-content .inner-overlay h3 {
        font-size:12px;
    }
    .products .type-product .overlay-content .inner-overlay .price {
        font-size:12px;
    }
    .products .type-product .overlay-content .inner-overlay a.add_to_cart_button {
        font-size:10px;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        margin-bottom:15px;
    }
    .woocommerce ul.products li.product .onsale,
    .woocommerce-page ul.products li.product .onsale {
        padding: 2px 5px;
        top: 3px;
        font-size: 10px;
        left: 3px;
    }
    
    
    
    /* Correlati */
    .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
        float: left;
        margin: 0 2% 3em;
        padding: 0;
        position: relative;
        width: 46%;
        display: inline-block;
    }
    
    
    /* Home Categories */
    .home-categories {
        padding:30px 0;
    }
    .home-categories .cat-content {
        padding:15px;
        margin-bottom: 10px;
    }
    .home-categories .cat-content h1{
        font-size: 28px;
    }
    .home-categories .cat-content h3 {
        font-size:20px;
    }
    .home-categories .cat-content figure {
        display:none;
    }
    
    /* Filter */
    #prdctfltr_woocommerce.prdctfltr_slide.prdctfltr_scroll_active .prdctfltr_woocommerce_ordering {
        padding-left:30px;
        padding-right:30px;
    }
    
    
}