@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/


@media (max-width: 991px){
    
    .menu-container {
        background: rgba(255,255,255,1);
        padding: 10px 15px;
    }
    .menu-container .menu-left,
    .menu-container .menu-right{
        width: 20%;
        float:left;
    }

    .menu-container .brand-container{
        width: 60%;
        float:left;
        margin-top: 7px;
    }
    
    .menu-container .brand-container img,
    .is-sticky .menu-container .brand-container img{
        max-height: 45px;   
    }
    
    .is-sticky .menu-container .navbar-brand,
    .menu-container .navbar-brand {
        padding:5px;
    }
    
    .menu-left .navbar,
    .menu-right .navbar,
    .is-sticky .menu-left .navbar,
    .is-sticky .menu-right .navbar{
        min-height: 0;
        margin-bottom:0;
        margin-top: 7px !important;
    }
    
    .menu-left .navbar  .navbar-toggle {
        float:left;
    }
    .menu-right .navbar  .navbar-toggle {
        float:right;
        margin-right: 0px;
    }
    
    .menu-left .navbar  .navbar-toggle,
    .menu-right .navbar  .navbar-toggle,
    .is-sticky .menu-left .navbar  .navbar-toggle,
    .is-sticky .menu-right .navbar  .navbar-toggle {
        margin-top: 0px;
        transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
    }
    .menu-right .navbar  .navbar-toggle span,
    .menu-left .navbar  .navbar-toggle span{
        font-size:30px;
    }
    
    .home-bloks div .content .centered-text {
        font-size:14px;
    }
    .home-bloks .block2 .content .centered-text {
        font-size:22px;
    }
    
    .intro-text {
        padding: 100px 20px;
        font-size: 28px;
        line-height: 1.4;
    }
    
    .slide-text h1, .intro-slider .bg-header .page-title {
        font-size:45px;
    }
    
    
    /* Product */
    
    .products .type-product.hover {
        border:0;
    }
    
    .products .type-product .overlay-content {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        opacity: 1;
        background: transparent;
        
    }
    .products .type-product .overlay-content .inner-overlay {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .products .type-product .overlay-content .inner-overlay a.add_to_cart_button {
        margin-top:0;
    }
    .products .type-product .overlay-content .inner-overlay h3 {
        font-size:12px;
    }
    
}
