@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-construction4:before {
	content: "\e000";
}
.flaticon-facebook7:before {
	content: "\e001";
}
.flaticon-family4:before {
	content: "\e002";
}
.flaticon-handicap1:before {
	content: "\e003";
}
.flaticon-home63:before {
	content: "\e004";
	background: #C93997;
    float: left;
	font-size: 27px;
    margin: 0;
    padding: 0 12px;
    color:#ffffff;
}
.flaticon-house44:before {
	content: "\e005";
}
.flaticon-mail7:before {
	content: "\e006";
}
.flaticon-outline:before {
	content: "\e007";
}
.flaticon-social70:before {
	content: "\e008";
}
.flaticon-social71:before {
	content: "\e009";
}
.flaticon-three1:before {
	content: "\e00a";
	background: #CCCB43;
	float: left;
	margin: 0;
	padding: 0 8px;
	color:#000000;
	font-size:18px;
	line-height:30px;
}