@font-face {
	font-family: 'bottegafont';
	src:url('fonts/bottegafont.eot?o5yuxa');
	src:url('fonts/bottegafont.eot?#iefixo5yuxa') format('embedded-opentype'),
		url('fonts/bottegafont.woff?o5yuxa') format('woff'),
		url('fonts/bottegafont.ttf?o5yuxa') format('truetype'),
		url('fonts/bottegafont.svg?o5yuxa#bottegafont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bottegafont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\e600";
}

.icon-tick:before {
	content: "\e601";
}

.icon-plus:before {
	content: "\e602";
}

.icon-minus:before {
	content: "\e603";
}

.icon-chevron-right:before {
	content: "\e604";
}

.icon-chevron-left:before {
	content: "\e605";
}

.icon-th-menu:before {
	content: "\e61c";
}

.icon-th-list:before {
	content: "\e606";
}

.icon-th-large:before {
	content: "\e607";
}

.icon-home:before {
	content: "\e608";
}

.icon-location:before {
	content: "\e609";
}

.icon-link:before {
	content: "\e60a";
}

.icon-star:before {
	content: "\e60b";
}

.icon-heart:before {
	content: "\e60c";
}

.icon-attachment:before {
	content: "\e60d";
}

.icon-user:before {
	content: "\e60e";
}

.icon-eye:before {
	content: "\e60f";
}

.icon-zoom:before {
	content: "\e61b";
}

.icon-calender:before {
	content: "\e610";
}

.icon-trash:before {
	content: "\e611";
}

.icon-shopping-cart:before {
	content: "\e612";
}

.icon-twitter2:before {
	content: "\e617";
}

.icon-twitter:before {
	content: "\e613";
}

.icon-facebook2:before {
	content: "\e618";
}

.icon-facebook:before {
	content: "\e614";
}

.icon-googleplus2:before {
	content: "\e619";
}

.icon-googleplus:before {
	content: "\e615";
}

.icon-pinterest2:before {
	content: "\e61a";
}

.icon-pinterest:before {
	content: "\e616";
}

