/*
Theme Name: La bottega delle creme
Theme URI: http://dueper.net
Author: Dueper Design
Author URI: http://dueper.net
Description: Dueper Theme is based on upBootstrap3WP(https://github.com/upplex/upBootstrap3WP) --> Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc. and Twitter Bootstrap 3. Feel free to edit it. 
Version: 0.1
License: GNU General Public License
License URI: license.txt
Domain Path: /languages/
Tags:

font-family: 'Lato', sans-serif;
*/


html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Lato', sans-serif;
	font-weight:500;
    font-size: 100%;
    line-height: 1.5;
    color:#553416;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.clear {
	clear:both;
	display:block;
}

/************************************************************ GENERAL*/
h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
h1 { font-size:36px;}
h2 { font-size:30px;}
h3 { font-size:26px;}
h4 { font-size:22px;}
h5 { font-size:18px;}
h6 { font-size:16px;}

p {
	margin:5px 0;
}

a{
	color:#AC5B72;
}
a:hover,
a:focus{
	color:#712139;
}

strong {

}

ul, li {
}

ul, ol {
	padding-left: 0px;
}

.aligncenter {
	display: block;
	margin: 10px auto;
}

.alignleft {
	float: left;
	margin:10px 20px 10px 0px;
}

.alignright {
	float: right;
	margin:10px 0px 10px 20px;
}

.text-justify {
	text-align:justify;
}
.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.acf-map {
	height:250px;
}

.page-template-page-templatespage-contatti-php .acf-map {
	height:350px;
}

.page-content {
    margin-bottom: 60px;
    margin-top: 15px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
}

/************************************************************ Colors */
.bg-lightcreme,
.bg-creme {
    margin-left:15px;
    margin-right:15px;
}
.bg-lightcreme {
    background: #F2EEE8;
}
.bg-creme {
    background: #E5DDD1;
}

/************************************************************ SOCIAL */
.socialbar {
    background: #F2EEE8;
    color:#fff;
    margin: 0px 15px auto;
    padding:30px;
    text-align: center;
    font-size:50px;
}
.socialbar a {
    color:#553416;
    color: rgba(85, 52, 22, 0.20);
    padding: 0px 5px;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.socialbar a:hover {
    color:#553416;
    color: rgba(85, 52, 22, 0.8);
    padding: 0px 5px;
}

/************************************************************ NAVBAR */
.header-bar-small {
    background: url(img/bg-slide.jpg) no-repeat center transparent;
    height:125px;
}

.menu-container .menu-left,
.menu-container .menu-right{
    width: 40%;
    float:left;
}
.menu-container .brand-container{
    width: 20%;
    float:left;
}
.menu-container .brand-container img{
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

/************************************************************ NAVBAR */
.menu-container  {
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 15px;
    right:15px;
    padding:10px 30px;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.menu-container  {
    background:rgba(255,255,255,0);
}
.menu-container.hover {
    background:rgba(255,255,255,1);
}

.sticky-wrapper {
    height:0 !important;
}

.is-sticky .menu-container {
    background:#F2EEE8;
}
.is-sticky .menu-container .navbar-brand{
    padding: 0;
}
.is-sticky .menu-container .brand-container img{
    max-height: 50px;
}
.is-sticky .menu-container .navbar{
    margin: 0 !important;
}

/**************************************************** menu-container lightbg */
.menu-container .navbar-default .navbar-nav>li {
    padding: 10px 15px;
}
.menu-container .navbar-default .navbar-nav>li>a{
    color:#553416;
    position: relative;
    padding: 5px 0px;
}
/*
.menu-container .navbar-default .navbar-nav>li>a:after{
    content:"";
    position: absolute;
    bottom: 0;
    left:50%;
    width:0;
    height:2px;
    background:#553416;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.menu-container .navbar-default .navbar-nav>li>a:hover:after{
    width:100%;
    left:0;
}*/

.menu-container .navbar-default .navbar-nav>li>a:hover:after{
    width:0;
    left:0;
}

.menu-container .navbar-default .navbar-nav>li>a:hover{
    opacity: 0.4;
}

.menu-container .navbar-default .navbar-nav>li>a:hover{
    color:#553416;
}
.menu-container .navbar-default .navbar-nav>.active>a,
.menu-container .navbar-default .navbar-nav>.active>a:hover,
.menu-container .navbar-default .navbar-nav>.active>a:focus {
    color:#553416;
}

.menu-container .navbar-default .navbar-nav>li.cart-item>a{
    background: #553416;
    color: #E5DDD1;
    padding: 0;
    margin-top: -5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size:12px;
}
.menu-container .navbar-default .navbar-nav>li.cart-item>a:after{
    display:none;
}
.menu-container .navbar-default .navbar-nav>li.cart-item>a:hover{  
    background: #E5DDD1;
    color: #553416;
    opacity: 1;
}
.menu-container .navbar-default .navbar-nav>li.cart-item>a span{
    font-size: 15px;
    display: inline;
    vertical-align: middle;
}

.menu-container .brand-container .logo-white {
    display: none;
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.menu-container .brand-container .logo-black {
    display: inline-block;
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
/**************************************************** menu-container darkbg */
.menu-container.darkbg .navbar-default .navbar-nav>li>a{
    color:#F2EEE8;
}
.menu-container.darkbg .navbar-default .navbar-nav>li>a:hover{
    color:#F2EEE8;
}
.menu-container.darkbg .navbar-default .navbar-nav>.active>a,
.menu-container.darkbg .navbar-default .navbar-nav>.active>a:hover,
.menu-container.darkbg .navbar-default .navbar-nav>.active>a:focus {
    color:#F2EEE8;
}
.menu-container.darkbg .brand-container .logo-white {
    display: inline-block;
}
.menu-container.darkbg .brand-container .logo-black {
    display: none;
}
.menu-container.darkbg .navbar-default .navbar-nav>li.cart-item>a{
    background: #F2EEE8 ;
    color: #553416;
}
.menu-container.darkbg .navbar-default .navbar-nav>li.cart-item>a:hover{  
    background: #553416;
    color: #F2EEE8 ; 
}

.menu-container .brand-container .logo-white {
    display: none;
}
.menu-container .brand-container .logo-black {
    display: inline-block;
}
/**************************************************** menu-container hover */
.menu-container.hover .navbar-default .navbar-nav>li>a{
    color:#553416;
}
.menu-container.hover .navbar-default .navbar-nav>li>a:hover {
    color:#553416;
}
.menu-container.hover .navbar-default .navbar-nav>.active>a,
.menu-container.hover .navbar-default .navbar-nav>.active>a:hover,
.menu-container.hover .navbar-default .navbar-nav>.active>a:focus {
    color:#553416;
}
.menu-container.hover .brand-container .logo-white {
    display: none;
}
.menu-container.hover .brand-container .logo-black {
    display: inline-block;
}
.menu-container.hover .navbar-default .navbar-nav>li.cart-item>a {
    background: #553416;
    color: #E5DDD1;
}
.menu-container.hover .navbar-default .navbar-nav>li.cart-item>a:hover {
    background: #E5DDD1;
    color: #553416;
}

.navbar-default {
    margin: 30px 0px;
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}


/* GENRAL */
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 500;
	text-transform:uppercase;	   
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: transparent;
	text-transform:uppercase;	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color:#FB4848;
	background:#830010;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
	border-top-color: #FB4848;
	border-bottom-color: #FB4848;
}

.dropdown-menu {
	margin-left: -100px;
	width: 200px;
	left: 50%;
	background:#830010;
	padding:0;
	border:0;
	
	-webkit-box-shadow: none;
	box-shadow: none;
	
	border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.dropdown-menu>li>a {
	color:#fff;
	padding: 10px 20px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background:#fff !important;
	color:#AD061B !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	background-color: #A31B63;
}

/************************************************************ NAVBAR MOBILE*/
#mobile-menu,
#user-mobile-menu {
	background:#F2EEE8;
    
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    
    
    -moz-box-shadow:    inset 7px 1px 23px 0px rgba(85, 52, 22,0.1);
    box-shadow:         inset 7px 1px 23px 0px rgba(85, 52, 22,0.1);
    
}
.mm-list > li > a, .mm-list > li > span {
    padding:20px 15px !important;
    color:#553416 !important;
}
.mm-menu .mm-list > li:after {
    border-color:#E5DDD1 !important;
    margin-left:0 !important;
}

/************************************************************ Searchbar hidden */
.call-searchbar:hover {
    cursor: pointer;
}

.search-form-hidden {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(242, 238, 232,0.95);
    color:#E5DDD1;
    z-index: 9999;
    
    opacity: 0;
    pointer-events: none;
    
     transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
}
.search-form-hidden.visible {
    opacity: 1;
    pointer-events: all;
}

.search-form-hidden #searchform {
    position:absolute;
    top:45%;
    left:50%;
    
    width: 20%;
    max-width: 400px;
    height:40px;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;    
}
.search-form-hidden.visible #searchform {
    top:50%;
}

.search-form-hidden #searchform{
    width:100%;
}
.search-form-hidden .screen-reader-text{
    display:none;
}

.search-form-hidden #searchform #s{
    background: transparent;
    font-size: 18px;
    height: 40px;
    width: 100%;
    font-style: italic;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0;
    border-bottom:1px dashed rgba(85, 52, 22, 0.4);
    
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.search-form-hidden #searchform #searchsubmit{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: 2px solid #553416;
    background: transparent;
    color: #553416;
    font-weight: 500;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.search-form-hidden #searchform #searchsubmit:hover{
    background: #553416;
    color: #E5DDD1;
}
.search-form-hidden #close-search {
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 30px;
    color: rgba(85, 52, 22, 0.3);
    opacity:0;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.search-form-hidden.visible #close-search {
    right: -70px;
    opacity:1;
}
.search-form-hidden #close-search:hover {
    cursor: pointer;
    color: rgba(85, 52, 22, 1);
}

/**************************************************** HOME INTRO */

.intro-text {
    position: relative;
    padding:120px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 34px;
    color: #553416;
    line-height: 51px;
}

.intro-text:after,
.intro-text:before {
    content: "";
    position: absolute;
    left:50%;
    margin-left: -75px;
    width: 150px;
    height: 2px;
    background: #E5DDD1;
}
.intro-text:after {
    top:59px;
}
.intro-text:before {
    bottom:59px;
}

/************************************************************ home-bloks */
.home-bloks {
    position: relative;
    padding: 0 8px;
    margin-bottom:30px;
    margin: auto;
    max-width: 1440px;
}
.home-bloks:after {
    content:'';
    display:block;
    clear: both;
}
.home-bloks .block1,
.home-bloks .block2,
.home-bloks .block3{
    float: left;
    position: relative;
    height: 0;
    padding:7px;
    display: block;
}

.home-bloks .block1 .content,
.home-bloks .block2 .content,
.home-bloks .block3 .content{
    background:#E5DDD1;
    position: absolute;
    overflow: hidden;
    top:7px;
    left:7px;
    right: 7px;
    bottom: 7px;
}
.home-bloks div .content .centered-text{
    font-size: 22px;
    color: #FFFFFF;
    line-height: 1.1;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.10);
    font-weight: 900;
    text-align: center;
    margin:0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-bloks div .content figure{
    
}

.home-bloks .block1 .content .left{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 50%;
}
.home-bloks .block1 .content .right{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left: 50%;
}

.home-bloks a figure {
    overflow: hidden;
}
.home-bloks a figure img{   
    width: auto;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.home-bloks a:hover figure img{
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}
.home-bloks figure:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.home-bloks a:hover figure:after {
    background: rgba(0,0,0,0);
}


/* Block1 */
.home-bloks .block1{
    width: 40%;
    padding-bottom: 40%;
}
.home-bloks .block1 .content-top{
    top:7px;
    left:7px;
    right: 7px;
    bottom:50%;
    margin-bottom:7px;
}
.home-bloks .block1 .content-bottom{
    top:50%;
    left:7px;
    right: 7px;
    bottom:7px;
    margin-top:7px;
}


/* Block2 */
.home-bloks .block2{
    width: 40%;
    padding-bottom: 40%;
}
.home-bloks .block2 .content .centered-text{
    font-size: 32px;
    z-index: 10;
}
.home-bloks .block2 figure {
    height: 100%;
}
.home-bloks .block2 figure img{
    height: 100%;
}


/* Block3 */
.home-bloks .block3{
    width: 20%;
    padding-bottom: 40%;
}
.home-bloks .block3 .content-top{
    top:7px;
    left:7px;
    right: 7px;
    bottom:50%;
    margin-bottom:0px;
}
.home-bloks .block3 .content-bottom{
    top:50%;
    left:7px;
    right: 7px;
    bottom:7px;
    margin-top:0px;
}
.home-bloks .block3 figure img{
    height:100%;
}

/************************************************************ home-categories */
.home-categories {
    padding:60px 0;
}
.tax-product_cat .home-categories {
    padding-top: 20px;
}
.home-categories hr {
  margin-bottom: 0;
  border-color: #E5DDD1;
}
.home-categories .cat-content{
    padding:15px 30px;
    position: relative;
    border:2px solid #EAE3DA;
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
    background-color: transparent;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.home-categories .cat-content:hover{
    background-color:#EAE3DA;
    border:2px solid #fff;
}

.home-categories .cat-content h1{
    margin:0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #553416;
    position: relative;
    z-index: 2;
}
.home-categories .cat-content h3{
    margin:0;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3vw;
    color: #553416;
    position: relative;
    z-index: 2;
}

.home-categories .cat-content hr{
    height:2px;
    width: 150px;
    background:#EAE3DA;
    margin:15px 0;
    border:0;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.home-categories .cat-content:hover hr{
    background: #fff;
}
.home-categories .cat-content figure{
    position: absolute;
    top:0;
    right:0;
    width: 130px;
    overflow: hidden;
    z-index: 1;
}
.home-categories .cat-content figure img{   
    width: auto;
    
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.home-categories .cat-content:hover figure img{
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}


/************************************************************ Post navgation */


/*--------------------*/
/* Rounded slide */
/*--------------------*/
.post-navigation {
    display:block;
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 60px;
}

.post-navigation a {
	position: absolute;
	display: block;
    top:0;
	outline: none;
    background: #E5DDD1;
    color: #553416;
	text-align: left;
    overflow: hidden;
}

.post-navigation a[rel="prev"] {
	right: 50%;
    margin-right:5px;
}

.post-navigation a[rel="next"] {
	left: 50%;
    margin-left:5px;
}


.post-navigation a {
	margin: 0 20px;
	padding: 15px;
	width: 60px;
	height: 60px;
	border-radius: 40px;
	background: #E5DDD1;
	-webkit-transition: width 0.3s, background-color 0.3s;
	transition: width 0.3s, background-color 0.3s;
}

.post-navigation .icon-wrap {
	position: absolute;
    width: 32px;
    text-align: center;
    line-height: 29px;
    font-size: 20px;
}

.post-navigation a[rel="next"] .icon-wrap {
	left: 15px;
}

.post-navigation a[rel="prev"] .icon-wrap {
	right: 15px;
}


.post-navigation h3 {
	position: absolute;
    top: 0;
    margin: 0;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 60px;
    overflow: ;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.post-navigation a[rel="next"] h3 {
	right: 20px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.post-navigation a[rel="prev"] h3 {
	left: 20px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.post-navigation a:hover {
	width: 200px;
}

.post-navigation a:hover h3 {
	opacity: 1;
    color: #553416;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


/************************************************************ sharing */
.sharrre .sharing-box {
    text-align: center;
    margin:15px 0;
    font-size:20px;
}
.sharrre .sharing-box a {
    color:#CDBFAB ;
    margin:7px;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.sharrre .sharing-box a:hover {
    color:#553416;
}
.sharrre .sharing-box a.facebook:hover {
    color:#3b5998;
}
.sharrre .sharing-box a.twitter:hover {
    color:#55acee;
}
.sharrre .sharing-box a.googleplus:hover {
    color:#ff0033;
}
/************************************************************ HEADER */
.intro-head {
    height:400px;
}


/************************************************************ HEADER */
.brand-container {
    text-align:center;
}
.navbar-header {
    float:none;
} 
.navbar-brand {
	text-transform:uppercase;
	font-size:20px;
    padding-top: 15px;
    display: inline-block;
    float: none;
}
.navbar-brand img{
    max-height: 90px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #553416;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #CDBFAB;
}

/* INTRO SLIDER */
.intro-slider .frame-top,
.intro-slider .frame-right,
.intro-slider .frame-bottom,
.intro-slider .frame-left {
    position: absolute;
    background: #fff;
    z-index: 1;
}
.intro-slider .frame-top {
    top:0;
    right:0;
    left:0;
    height: 15px;
}
.intro-slider .frame-right {
    top:0;
    right:0;
    bottom:0;
    width:15px;
}
.intro-slider .frame-bottom {
    right:0;
    left:0;
    bottom:0;
    height: 15px;
}
.intro-slider .frame-left {
    top:0;
    left:0;
    bottom:0;
    width:15px;
}

/* FLEXSLIDER */
.flexslider {
    margin:0 !important;
}
.intro-slider,
.flex-viewport{
	width:100%;
    min-height:400px;
    position: relative;
	margin:0;
	padding:0;
}
.intro-slider .slides {
	height:100%!important
}
.intro-slider .slides li {
	width:100%;
	margin:0;
	padding:0;
    position: relative;
}
.intro-slider .slides li {
	width:100%;
	height:100%!important;
	margin:0;
	padding:0;
    background-position: center;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}

/* Pagine interne*/
.intro-slider .bg-header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    margin-bottom: 15px;
    
    background-attachment: fixed;
    
    background-position: center;
    
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}
.intro-slider .bg-header .page-title {
    position: absolute;
    bottom: 30px;
    left:0;
    right:0;
    z-index: 2;
    text-align: center;
    
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY( -50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.single-product .intro-slider {
    min-height:250px;
}
.single-product .intro-slider h1.page-title{
    display:none;
}

/* HOME */

.slide-text {
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 2;
    text-align: center;
    max-width: 90%;
    width: 1170px;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slide-text h1,
.intro-slider .bg-header .page-title{
    font-weight: 900;
    font-size: 60px;
    max-width: 90%;
    display: inline;
    color:#fff;
    margin:0 auto;
    text-transform: uppercase;
}
.slide-text a:hover h1{
    color:#A31B63;
}

.slide-text h3{
    font-weight: 100;
    text-transform: none;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    color:#94C11E;
    margin:0;
    margin-top:15px;
}

/************************************************************ FOOTER ON BOTTOM*/
body.bind-scroll, html.bind-scroll {
	overflow:hidden;
	width:100%;
}


#main-wrapper {
	min-height:100%;
	position:relative;
}

#site-content {
	background:#ffffff;
}
body.home #site-content,
body.single-promo #site-content {
	margin-top:0;	
}
footer.site-foot {
	width:100%;
	padding:30px 0px 30px 0px;
}

footer.site-foot .copyright {
	text-align:left;
	font-size:12px;
}

#footer-menu {
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
}
#footer-menu li{
    list-style: none;
    display: inline-block;
}
#footer-menu li a{
    padding:0px 5px;
}


/********************************************************* FILTERS */
.filters-section {
    margin-bottom:30px;
}
.filters-section h1.filters-title {
    text-align: center;
    font-size:14px;
    text-transform: uppercase;
    margin:0;
}

#prdctfltr_woocommerce {
    margin-bottom:0;
    text-align: center;
}
.prdctfltr_woocommerce.pf_default #prdctfltr_woocommerce_filter {
    padding:60px 0;
}
#prdctfltr_woocommerce.prdctfltr_slide.prdctfltr_scroll_active .prdctfltr_woocommerce_ordering {
    padding-bottom:60px;
    text-align: left;
}
.prdctfltr_woocommerce.pf_default > span {
    width:auto;
}

/* Icon */
#prdctfltr_woocommerce_filter {
    width:20px;
}
i.icon-filter-custom {
    position: absolute;
    height: 3px;
    display: inline-block;
    background: #553416;
    width: 20px;
    margin: 0;
    margin-left: -12px;
    margin-top: -1px;
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
i.icon-filter-custom:before,
i.icon-filter-custom:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #553416;
    left:0;
    right:0;
    height:3px;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
i.icon-filter-custom:before {
    top:-6px;
}
i.icon-filter-custom:after {
    bottom:-6px;
}

.prdctfltr_active i.icon-filter-custom {
    background:rgba(0,0,0,0);
}
.prdctfltr_active i.icon-filter-custom:before {
    transform: translateY(6px) rotate(45deg);
    -moz-transform: translateY(6px) rotate(45deg);
    -webkit-transform: translateY(6px) rotate(45deg);
}
.prdctfltr_active i.icon-filter-custom:after {
    transform: translateY(-6px) rotate(-45deg);
    -moz-transform: translateY(-6px) rotate(-45deg);
    -webkit-transform: translateY(-6px) rotate(-45deg);
}

/************************************************************ Prodotto tabber */
.tabber-prodotto-content {
    display:block;
}
.tabber-prodotto-content .tab-head {
    padding:0;
    text-align: center;
}
.tabber-prodotto-content .nav-tabs {
    border:0;
     border-top:1px solid #E5DDD1;
    border-bottom:1px solid #E5DDD1;
}
.tabber-prodotto-content .tab-head .nav-tabs>li {
    float: none;
    display: inline-block;
}
.tabber-prodotto-content .tab-head .nav-tabs>li>a {
    text-transform: uppercase;
    font-weight: 500;
    color: #CDBFAB;
    position: relative;
    padding:30px 15px;
}

.tabber-prodotto-content .tab-head .nav-tabs>li>a,
.tabber-prodotto-content .tab-head .nav-tabs>li>a:hover,
.tabber-prodotto-content .tab-head .nav-tabs>li>a:focus {
    border:0;
    background:transparent;
    margin-top:-3px;
}

.tabber-prodotto-content .tab-head .nav-tabs>li.active>a,
.tabber-prodotto-content .tab-head .nav-tabs>li>a:hover,
.tabber-prodotto-content .tab-head .nav-tabs>li>a:focus{
    color: #553416;
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.tabber-prodotto-content .tab-head .nav-tabs>li>a:after {
    content:"";
    position: absolute;
    left:0;
    width: 0;
    top:0;
    height:5px;
    background: #CDBFAB;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.tabber-prodotto-content .tab-head .nav-tabs>li.active>a:after {
    width: 100%;
}
.tabber-prodotto-content .tab-content .tab-pane {
    padding:30px 0;
}


/************************************************************ PRODUTTORI */
.produttori-content .hentry {
    background: #F2EEE8;
    text-align: center;
    padding:15px;
    margin-bottom:30px;
    
    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.produttori-content a:hover .hentry {
    background: #E5DDD1;
}
.produttori-content .hentry h1{
    font-size:14px;
}


/* Modal Produttore */
.modal-produttore .modal-content {
    position: relative;
    background-color: #F2EEE8;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-produttore button.close {
    line-height: 1;
    top: 5px;
    right: 10px;
    z-index: 10;
    position: absolute;
}
.modal-produttore .modal-content .modal-body {
    padding: 30px;
    text-align: justify;
}
.modal-produttore .modal-content .modal-body .modal-title {
    text-align: center;
    margin:15px 30px;
    font-size:18px;
}
.modal-produttore .modal-content .modal-footer {
    border-top:0;
}
.modal-produttore .modal-content .btn {
    border-radius:0;
    text-transform: uppercase;
}
.modal-produttore .modal-content .btn.btn-link {
    background:#AC5B72;
    color:#fff;
}
.modal-produttore .modal-content .btn.btn-link:hover {
    background:#712139;
    text-decoration:none;
}
.modal-produttore .modal-content .btn.btn-close {
    background: #fff;
}
.modal-produttore .modal-content .btn.btn-close:hover {
    background: #CDBFAB;
}


/************************************************************ Cookies */
#wpca-box {
    background:#E5DDD1;
    color:#553416;
    z-index: 100;
}
#wpca-box #wpca-message {
    float: left;
    width: 90%;
    margin: 0 5%;
}
#wpca-box #wpca-ok {
    float: left;
    text-align: center;
    width: 90%;
    margin: 20px 5% 0 5%;
}
#wpca-box #wpca-ok a {
    display: inline-block;
    float: none;
    padding: 7px 35px;
    text-decoration: none;
}


/************************************************************ MAILCHIMP WIDGET */

.widget_wpmailup_widget{
    text-align: left;
}
.mctitle{
    font-size:18px;
    color: #553416;
    margin:0;
    margin-bottom:10px;
    font-weight: 900;
}

#subscribeForm #mc_embed_signup {
    height: 75px;
    display: inline-block !important;
    float: left !important;
}
#mc-embedded-subscribe-form{
    height: 75px;
    padding: 10px 0 10px 0px !important;
    font-size: 18px;
}

#mc_embed_signup input {
  border: 1px solid #D2C8BD !important;
  width: 70% !important;
}

#mc_embed_signup .button{
    background: #D2C8BD !important;
    border: 1px solid #D2C8BD !important;
    color: #553416 !important;
    height: 40px !important;
    line-height: 30px !important;
    font-size: 14px !important;
    width: 30% !important;
    padding: 0 10px !important;

}


/* SINGLE Produttore*/
.single-produttore .produttore-content figure {
  margin-bottom:30px;
}
.single-produttore .btn-website {
  border-radius:0;
  text-transform: uppercase;
  margin-bottom:30px;
  margin-top:30px;
  
  background:#AC5B72;
  color:#fff;
}
.single-produttore .btn-website:hover {
  background:#712139;
  text-decoration:none;
}
.single-produttore .list-title {
  text-align: center;
  margin-bottom: 20px;
}
.single-produttore .list-title span {
  color:#AC5B72;
}


/************************************************************ Recensioni */
article.hentry.type-messaggi-dicono {
  margin-bottom:80px;
}
article.hentry.type-messaggi-dicono header h1 {
  font-size: 1.3em;
  font-style: italic;
  color: #553416;
  text-transform: none;
  text-align: left;
}
article.hentry.type-messaggi-dicono p {
  color: #553416;
  text-align: left;
}
article.hentry.type-messaggi-dicono .name {
  color: #553416;
  font-style: oblique;
}
article.hentry.type-messaggi-dicono a:hover .name {
  color: #AC5B72;
}
article.hentry.type-messaggi-dicono .name:before,
article.hentry.type-messaggi-dicono .name:after{
  content: ' — '
}


/************************************************************ Gravity */

.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required {
    color: #AC5B72;
    font-weight: 700;
    border: 0;
}

.gform_wrapper  form input,
.gform_wrapper  form textarea{
    border-color: #E5DDD1;
    border-width: 1px;
    border-style: solid;
    height: 2.5em;
    padding: 0 10px;
    font-weight: 900;
    color: #553416;
    
    transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}
.gform_wrapper  form input[type="radio"]{
    height:1em;
    width: 3em;
}
.gform_wrapper  textarea {
    padding:15px;
    height: 6em !important;
    
}

.gform_wrapper input:focus {
    background: #F2EEE8;
}

.gform_wrapper .gform_button  {
    background: #AC5B72 !important;
    color: #fff;
    text-shadow: none;
}
.gform_wrapper .gform_button:hover {
    background: #CDBFAB !important;
}
/************************************************************ MEDIA QUERY */
@media (max-width: 1200px) and (min-width: 991px){
	.navbar-default .navbar-nav>li>a {
        font-size:14px;
    }
}

@media (max-width: 1199px){
	
}

@media (max-width: 767px){
    
    
    

}

@media (max-width: 991px) and (min-width: 768px){
	
}
@media (max-width: 991px){
    .elenco-prodotti li h1 {
        font-size:16px;   
    }
    .elenco-prodotti li h1 span {
        font-size:14px;   
    }
	.riepilogo-ordine {
        margin-top:0px !important;
    }
    #footer-menu, footer.site-foot .copyright {
        text-align: center;
        margin-bottom: 15px;
    }
    
    
    .menu-right {
        text-align:right;
    }
    
}
@media (max-width: 991px) and (min-width: 768px){
	.home-categories .cat-content h1{
        font-size: 2.5vw;
    }
    .home-categories .cat-content h3{
        font-size: 1.8vw;
    }
    .home-categories .cat-content figure{
        width:100%;
        opacity: 0.2;
    }
    .home-categories .cat-content figure img{
        width:100%;
    }
    
    .navbar-collapse.collapse {
        display:none;
    }
    .navbar-toggle {
        display:block;
    }

}

@media (max-width: 767px) and (min-width: 480px){
	.home-categories .cat-content h1{
        font-size: 2.9vw;
    }
    .home-categories .cat-content h3{
        font-size: 2.5vw;
    }
}

@media (max-width: 479px){
	
    /* Slogan */
    .intro-text {
        padding: 80px 20px;
        font-size: 22px;
        line-height: 1.4;
    }
    
}