/******************************************************* SINGLE PRODUVT */
.woocommerce-page span.onsale,
.woocommerce span.onsale{
    background: #AC5B72;
    color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    width: auto;
    height: auto;
    min-height: 0;
    min-width: 0;
    padding: 10px 15px;
    line-height: 1.4;
    left: 15px;
    top: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    text-align: center;
}

.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
    color:#AC5B72 ;
}

.woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus {
    display:none;
}
.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty {
    display:inline-block;
    float:none;

    width: 50px;
    height: 40px;
    border: 1px solid #E5DDD1;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none
    -webkit-box-shadow: none;
    font-weight: 700;
    -moz-appearance: textfield;
}
.woocommerce #content div.product form.cart div.quantity, .woocommerce div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
    display: block;
    width: 100%;
    text-align: center;
    margin:15px 0;
}

/* Add to cart */
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce a.add_to_cart_button,
.woocommerce-page a.add_to_cart_button,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button{
    float:none !important;
    background: #E5DDD1;
    border: 0;
    color: #553416;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: none;
    padding: 15px 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce a.add_to_cart_button:hover,
.woocommerce-page a.add_to_cart_button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover {
    background: #CDBFAB !important;
    color: #fff;
    text-shadow: none;
}
#prdctfltr_woocommerce_filter_submit {
    padding: 10px 15px;
    font-size:14px;
}

.woocommerce .product_meta {
    padding: 30px 0;
    border-top: 1px solid #E5DDD5;
    margin-top: 30px;
    font-size: 12px;
    text-transform: uppercase;
}
.woocommerce .product_meta > span {
    display:block;
}
.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img {
    border: 5px solid #F2EEE8;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/******************************************************* Cross Sell */
.woocommerce .cart-collaterals  .cross-sells,
.woocommerce-page .cart-collaterals  .cross-sells {
    width:100%;
}
.woocommerce .cart-collaterals  .cross-sells ul.products li,
.woocommerce-page .cart-collaterals  .cross-sells ul.products li{
    display: block;
    width: 100% !important;
    height: auto;
    padding-bottom:0;
    margin-bottom: 10px;
}
.woocommerce .cart-collaterals  .cross-sells ul.products li.hover,
.woocommerce-page .cart-collaterals  .cross-sells ul.products li.hover{
    border:0;
}

.woocommerce .cart-collaterals .cross-sells ul.products li figure,
.woocommerce-page .cart-collaterals .cross-sells ul.products li figure{
    float: left;
    height: auto;
    width: 15%;
    padding: 0;
}
.woocommerce .cart-collaterals .cross-sells ul.products li figure .onsale,
.woocommerce-page .cart-collaterals .cross-sells ul.products li figure .onsale{
    display:none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li .content,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content {
   padding-left: 10px;
    float: left;
    width: 85%;
    font-size:12px;
    font-weight: 500;
    line-height: 1.2;
}
.woocommerce .cart-collaterals .cross-sells ul.products li .content .price,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content .price {
    display:inline;
    color:#AC5B72;
}
.woocommerce .cart-collaterals .cross-sells ul.products li .content .price del,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content .price del {
    font-size: 1em;
    color: rgba(145,145,145,1);
}

.woocommerce .cart-collaterals .cross-sells ul.products li .content .button ,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content .button {
    display: inline-block;
    width: auto;
    padding:0;
    font-size: 12px;
    color:#AC5B72;
    font-weight: 900;
    background: transparent;
}

.woocommerce .cart-collaterals .cross-sells ul.products li .content .button:hover,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content .button:hover {
    background: transparent !important;
    color:#553416;

}


.woocommerce .cart-collaterals .cross-sells ul.products li .content .button.added:before,
.woocommerce-page .cart-collaterals .cross-sells ul.products li .content .button.added:before {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0;
    right: -20px;
    text-indent: 0;
    font-family: WooCommerce;
    content: "\e017";
}

/******************************************************* Correlati */
.fascia-related {
    margin-top:30px;
    margin-bottom:30px;
}

.fascia-related .related-title {
    font-size:20px;
    margin:30px 0;
    text-align: center;
}


.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
    display: inline-block;
}
.woocommerce .related ul li.product.last,
.woocommerce .related ul.products li.product.last,
.woocommerce .upsells.products ul li.product.last,
.woocommerce .upsells.products ul.products li.product.last,
.woocommerce-page .related ul li.product.last,
.woocommerce-page .related ul.products li.product.last,
.woocommerce-page .upsells.products ul li.product.last,
.woocommerce-page .upsells.products ul.products li.product.last {
    margin-right:0;
}

/******************************************************* Archivio */

.products .type-product {
    overflow: hidden;
    position: relative;
    background:#F2EEE8;
    border:0px solid #E5DDD1;

    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.products .type-product.hover {
    border:5px solid #E5DDD1;
}

.products .type-product figure{
    height: 0;
    padding-bottom: 100%;
}
.products .type-product figure img{
    width:100%;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    top: 10px;
    left: 10px;
    right:auto;
    font-size: 11px;
    margin: 0;
    padding: 7px 15px;
}

.products .type-product .overlay-content {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

    overflow: hidden;

    opacity:0;

    background: rgba(255,255,255,0.8);


    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.products .type-product .overlay-content:after {
    position: absolute;
    left:30px;
    right: 30px;

}
.products .type-product.hover .overlay-content {
    opacity:1;
}
.products .type-product .overlay-content .inner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    line-height: 1.3;
    letter-spacing: 1px;
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);

    transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.products .type-product.hover .overlay-content .inner-overlay {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.products .type-product .overlay-content .inner-overlay h3{
    font-size:16px;
    color:#553416;
}
.products .type-product.hover .overlay-content .inner-overlay a:hover h3{
    color:#AC5B72;
}

.products .type-product .overlay-content .inner-overlay .price {
    font-size:18px;
    color:#92314E;
}
.products .type-product .overlay-content .inner-overlay a.button{
    font-size:12px;
    padding:10px 15px;
    margin-top:10%;

    transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}

.woocommerce #content input.button.added:before, .woocommerce #respond input#submit.added:before, .woocommerce a.button.added:before, .woocommerce button.button.added:before, .woocommerce input.button.added:before, .woocommerce-page #content input.button.added:before, .woocommerce-page #respond input#submit.added:before, .woocommerce-page a.button.added:before, .woocommerce-page button.button.added:before, .woocommerce-page input.button.added:before {
    position: relative;
    height: 16px;
    width: 16px;
    top: auto;
    padding-left: 5px;
    right: auto;
    float: right;
    text-indent: 0;
    font-family: WooCommerce;
    content: "\e017";
}
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    display:none;
}

.products .type-product.hover .overlay-content .inner-overlay a.add_to_cart_button{
    margin-top:0%;
}

/* Pagination */

.woocommerce #content nav.woocommerce-pagination, .woocommerce nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination {
    margin: 15px 0;
}


.woocommerce .woocommerce-pagination .page-numbers {
    border: 0;
}
.woocommerce nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li {
    border:0;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span {
    font-weight: 900;
    color: #553416;
    font-size: 16px;
    padding:0;
    border:0;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
    background: #F2EEE8;
}

/* Breadcrumbs */
.woocommerce .woocommerce-breadcrumb .delimiter,
.woocommerce-page .woocommerce-breadcrumb .delimiter {
    font-size: 0;
}

.woocommerce .woocommerce-breadcrumb .delimiter:after,
.woocommerce-page .woocommerce-breadcrumb .delimiter:after {
    content: "\f105";
    display: inline-block;
    font-size: 14px;
    padding: 0 10px 0 11px;
    position: relative;
    font-family: FontAwesome;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




/**********************************************************************************/
/* Cart ***************************************************************************/
/**********************************************************************************/

table.shop_attributes thead th,
.wishlist_table thead th,
.shop_table.cart thead th {
    border-bottom: 1px solid #E5DDD1;
}

.woocommerce .cart_form .cart-collaterals,
.woocommerce-page .cart_form .cart-collaterals
{
	padding-bottom: 50px;
}

.cart_left_wrapper
{
	padding-right: 0px;
	margin-bottom: 30px;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
	border: none;
	margin: 12px 0 0 0;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
	font-weight: bold;
	line-height: 1.8em;
	padding: 17px 0;
	font-size:13px !important;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td
{
	border-top: none;
	padding: 15px 0px 15px 0;
}

.woocommerce table.shop_table tr td,
.woocommerce-page table.shop_table tr td {
    border-bottom: 1px solid #E5DDD1;
}

.woocommerce-page table.shop_table tfoot tr th,
.woocommerce table.shop_table tfoot tr th,
.woocommerce-page table.shop_table tfoot tr td,
.woocommerce table.shop_table tfoot tr td {
    border-bottom: none;
}
.woocommerce-page table.shop_table tfoot tr th,
.woocommerce table.shop_table tfoot tr th {
    text-align:right;
    padding-right: 30px;
}


.woocommerce table.cart thead {
    text-transform: uppercase;
}

.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail
{
	width:120px;
	padding-right:20px;
	min-width: 120px;
}

.woocommerce table.cart .product-thumbnail img,
.woocommerce #content table.cart .product-thumbnail img,
.woocommerce-page table.cart .product-thumbnail img,
.woocommerce-page #content table.cart .product-thumbnail img
{
	width:100%;
	height:auto;
}

.woocommerce table.cart .product-name,
.woocommerce #content table.cart .product-name
{
	width: 190px;
	min-width: 100px;
	padding-right: 20px;
}

.woocommerce table.cart .product-quantity,
.woocommerce #content table.cart .product-quantity
{
	padding-right: 20px;
}


.woocommerce table.cart .product-name a,
.woocommerce #content table.cart .product-name a
{
	display: block;
	font-size: 1rem;
	line-height: 1.3125em;
	color: inherit;
	font-weight: 700;
}

.woocommerce table.cart .product-price,
.woocommerce #content table.cart .product-price
{
	font-size: 1rem;
	padding-right: 20px;
}

.product-price-thead,
.product-name-thead
{
	display: none;
}

.woocommerce table.cart .product-subtotal,
.woocommerce #content table.cart .product-subtotal,
.woocommerce-page table.cart .product-subtotal,
.woocommerce-page #content table.cart .product-subtotal
{
	font-weight: 700;
	padding-right: 20px;
}

.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img
{
	width:auto;
}

.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity
{
	min-width: 0;
}

.woocommerce .quantity,
.woocommerce #content .quantity,
.woocommerce-page .quantity,
.woocommerce-page #content .quantity
{
	margin: 0;
}

.woocommerce table.cart td.product-remove
{
	text-align: right;
	width: 10px;
	max-width: 14px;
	padding: 0;
}


.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove
{
	font-size: 24px;
    color: inherit;
    display: inline-block;
    opacity: 1;
    position: relative;
    top: 1px;
    right: 5px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    color: #AC5B72;
}

.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover
{
	color: inherit;
	background: none;
	opacity: .4;
}

.woocommerce-cart #content .quantity .plus,
.woocommerce-cart #content .quantity .minus
{
	display: none;
}

.woocommerce-cart.woocommerce-page #content .quantity input.qty
{
	font-size: 1rem;
	width: 30px;
	height: 30px;
	padding: 0;
	border-width: 1px;
	border-style: solid;
}

.cart_container
{
	margin-bottom: 0px;
}

.cart_right_wrapper
{
	margin: 0 -30px;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	width: 100%;
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    background: #F2EEE8;
}
.woocommerce .cart-collaterals .button,
.woocommerce-page .cart-collaterals .button{
    width:100%;
    background: #CDBFAB;
    color:#fff;
    margin-top:5px;
}
.woocommerce .cart-collaterals .button.checkout-button,
.woocommerce-page .cart-collaterals .button.checkout-button{
    background: #AC5B72;
    color:#fff;
}

.woocommerce .cart-collaterals input.button:hover,
.woocommerce-page .cart-collaterals input.button:hover{
    background: #553416 !important;
    color:#fff !important;
}

.cart-collaterals {
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.woocommerce .cart-collaterals table.shop_table td,
.woocommerce-page .cart-collaterals table.shop_table td
{
	border-top: 0;
	padding: 10px 0;
}

.woocommerce table.cart input,
.woocommerce #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce-page #content table.cart input
{
	line-height: normal;
}

.cart-collaterals table tr th,
.cart-collaterals table tr td {
	padding: 30px 0;
	font-size: 1rem;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th
{
	padding: 9px 20px 5px 0;
	width: 50%;
	line-height:1.2rem;
}

.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table th
{
	vertical-align: top;
	text-align:left;
}

.woocommerce .cart-collaterals .cart_totals tr:nth-last-child(2) td,
.woocommerce .cart-collaterals .cart_totals tr:nth-last-child(2) th,
.woocommerce-page .cart-collaterals .cart_totals tr:nth-last-child(2) td,
.woocommerce-page .cart-collaterals .cart_totals tr:nth-last-child(2) th {
	padding-bottom:30px;
}

.woocommerce .cart-collaterals .cart_totals tr.order-total td,
.woocommerce .cart-collaterals .cart_totals tr.order-total th,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total td,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total th {
	padding-top:25px;
	padding-bottom:12px;
	vertical-align:top;
}

.woocommerce .cart-collaterals .cart_totals tr.order-total td strong,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total td strong
{
	font-size:24px;
	line-height: 1;
	font-weight:700;
	vertical-align: top;
}

.woocommerce .cart-collaterals .cart-totals-wrapper h2,
.woocommerce-page .cart-collaterals .cart-totals-wrapper h2
{
	/*display:none;*/
	text-align:left;
	font-size:0.8125rem;
	font-weight: 700;
}

.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2,
#order_review_heading
{
	padding: 0 0 20px;
    margin: 10px 0 25px 0;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.shipping {
    margin-top: 15px;
}
.woocommerce ul#shipping_method .amount, .woocommerce-page ul#shipping_method .amount {
    color:#AC5B72;
}

.woocommerce ul#shipping_method label, .woocommerce-page ul#shipping_method label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 15px;
    text-indent: 0;
}
.woocommerce ul#shipping_method input, .woocommerce-page ul#shipping_method input {
    vertical-align: top;
    width: 1em;
}

.woocommerce .cart-collaterals .shipping-calculator-button,
.woocommerce-page .cart-collaterals .shipping-calculator-button
{
	display: inline-block;
	margin:21px 0 12px;
}

.woocommerce .cart-collaterals .shipping_calculator h2,
.woocommerce-page .cart-collaterals .shipping_calculator h2
{
	font-size:.8em;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:underline;
	padding:15px 0 10px 0;
}

.woocommerce .cart-collaterals .shipping_calculator h2 span,
.woocommerce-page .cart-collaterals .shipping_calculator h2 span
{
	display:none;
}

.shipping-calculator-form
{
	padding-bottom: 8px;
}

.shipping-calculator-form .button {
	margin:5px 0 0 0 !important;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100% !important;
    text-align: left;
}

.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th
{
	border: none !important;
}

.cart-collaterals table tbody tr:last-child
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.woocommerce .cart-collaterals .cart_totals .cart-subtotal,
.woocommerce-page .cart-collaterals .cart_totals .cart-subtotal
{
	border-bottom: none;
}

.woocommerce .cart-collaterals .cart_totals th:first-child,
.woocommerce-page .cart-collaterals .cart_totals th:first-child,
.woocommerce .cart-collaterals .cart_totals td:first-child,
.woocommerce-page .cart-collaterals .cart_totals td:first-child
{
	padding-right: 40px;
}
.woocommerce .cart-collaterals .cart_totals .shipping,
.woocommerce-page .cart-collaterals .cart_totals .shipping,
.woocommerce .cart-collaterals .cart_totals .cart-subtotal,
.woocommerce-page .cart-collaterals .cart_totals .cart-subtotal {
    margin-bottom:15px;
}
.woocommerce .cart-collaterals .cart_totals .shipping td:first-child,
.woocommerce-page .cart-collaterals .cart_totals .shipping td:first-child
{
	padding-top: 13px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 100% !important;
}

.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related
{
	width: 100%;
}

.woocommerce .cross-sells,
.woocommerce-page .cross-sells {

}

.woocommerce .cross-sells ul.products li,
.woocommerce-page .cross-sells ul.products li {
	width: 100% !important;
}

.woocommerce .cross-sells h2,
.woocommerce-page .cross-sells h2 {
	font-size:1.3125rem;
	padding:0;
	margin:0 0 30px 0;
	text-align: center;
}


/* Cart - Buttons */

.cart-buttons .update_cart,
.cart-buttons .checkout-button
{
	width: 100%;
	padding-top:22px !important;
    padding-bottom:21px !important;
}

.woocommerce-page #content .update_and_checkout .update_cart
{
	margin-top: 9px;
	margin-bottom: 10px;
}

body.woocommerce .coupon_code_wrapper,
body.woocommerce-page .coupon_code_wrapper
{
	text-align: center;
    border-width: 2px;
    border-color: #E5DDD1;
    border-style: dashed;
    border-radius: 0;
    padding: 30px 30px 60px;
    /*max-width: 550px;*/
    margin: auto;
    margin-bottom: 30px;
}

.coupon_code_wrapper_inner
{
	display: block;
    padding: 0 30px;
}

.coupon_code_wrapper_inner:after
{
	content: "";
	display: block;
	clear: both;
}

.coupon_code_text
{
	font-size: 0.8125rem;
	font-weight: 700;
	margin-bottom: 26px;
	text-transform: uppercase;
}

.coupon_code_wrapper #coupon_code,
.coupon_code_wrapper .button {
    width:100%
}

.coupon_code_wrapper #coupon_code {
	min-width: 50%;
	height: 49px;
    border-color: #E5DDD1;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
    padding: 13px 15px 13px 15px;
    margin: 0;
    outline: 0 !important;
    line-height: normal;
	float: none;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;

	 box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.coupon_code_wrapper .apply_coupon
{
	min-width: 0;
	height: 48px;
}

.woocommerce #cross-sell-products-carousel.related,
.woocommerce-page #cross-sell-products-carousel.related,
.woocommerce #cross-sell-products-carousel.upsells.products,
.woocommerce-page #cross-sell-products-carousel.upsells.products {
	margin: 0;
}

/* Empty Cart / Wishlist */

.cart-wishlist-empty-banner
{
	margin-top: -20px;
	text-align: center;
}

.cart-wishlist-empty-banner img
{
	max-width: 120px;
}

.cart-wishlist-empty {
    font-size: 1.875rem;
	font-weight: 700;
    line-height: 1.33333em;
    margin-bottom: 0px;
}

.cart-empty {
	margin: 18px 0 22px;
    font-size: 130%;
}

.return-to-shop {
    text-align:center;
	margin-bottom: 60px;
}

.wc-backward {
	font-size: 0.8125em;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	text-transform: uppercase;
}

.wc-backward a:before,
.wc-backward:before
{
    display:none;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f112";
	font-size: 1.1em;
}

.wishlist-empty-banner.cart-wishlist-empty-banner
{
	margin-bottom:23px;
}

/*
*
* CHECKOUT
*
*/
#order_review_heading {
    margin-bottom: 0;
}

.woocommerce #payment, .woocommerce-page #payment {
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
    position: relative;
    width: 96%;
    padding: 0;
    padding-left: 40px;
    margin: -5px 0 25px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.5em;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #5e5e5e;
    text-shadow: none;
}
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
    content:none;
}
.woocommerce #payment div.payment_box:before, .woocommerce-page #payment div.payment_box:before{
    content:none;
}

.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    border-bottom:0;
}

.woocommerce .button#place_order,
.woocommerce-page .button#place_order{
    background: #AC5B72;
    color:#fff;
}
.woocommerce input.button#place_order:hover,
.woocommerce-page input.button#place_order:hover{
    background: #553416 !important;
    color:#fff !important;
}
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
    padding: 0;
    margin: 0;
    border: 0;
}

.woocommerce #order_review td,
.woocommerce-page #order_review td {
    border-bottom: 1px solid #CDBFAB ;
}
.woocommerce #order_review tfoot td,
.woocommerce-page #order_review tfoot td {
    border-bottom: 0;
}
.woocommerce #order_review .product-name,
.woocommerce-page #order_review .product-name {
    font-weight: 900;
}
.woocommerce #order_review .product-name .product-quantity,
.woocommerce-page #order_review .product-name .product-quantity {
    font-weight: 500;
}
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
    border-top:0;
}

/* FORM */
::-webkit-input-placeholder { color:#999; font-weight: 500; }
::-moz-placeholder { color:#999; font-weight: 500; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; font-weight: 500; } /* ie */
input:-moz-placeholder { color:#999; font-weight: 500; }

.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required {
    color: #AC5B72;
    font-weight: 700;
    border: 0;
}

.woocommerce-billing-fields h3 {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #E5DDD1;
    padding: 23px 0 20px;
    margin: 10px 0 25px 0;
}
.woocommerce form input,
.woocommerce form textarea,
.woocommerce-page form input,
.woocommerce-page form textarea{
    border-color: #E5DDD1;
    border-width: 1px;
    border-style: solid;
    height: 2.5em;
    padding: 0 10px;
    font-weight: 900;
    color: #553416;

    transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;

}

.woocommerce form input[type="radio"],
.woocommerce-page form input[type="radio"] {
    height:1em;
    width: 3em;
}
.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    padding:0;
}

.woocommerce .payment_methods input[type="radio"],
.woocommerce-page .payment_methods input[type="radio"] {
    width: 20px;
}

.woocommerce #payment ul.payment_methods li label,
.woocommerce-page #payment ul.payment_methods li label {
    display: inline ;
}

#add_payment_method #payment ul.payment_methods li img,
.woocommerce-checkout #payment ul.payment_methods li img {
  margin-left: 2.5em;
}

.woocommerce #payment .payment_method_paypal .about_paypal, .woocommerce-page #payment .payment_method_paypal .about_paypal {
    float: none;
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 0.8em;
}

.woocommerce textarea,
.woocommerce-page textarea{
    padding:15px;
    height: 6em !important;

}

.woocommerce-page input:focus,
.woocommerce input:focus,
.woocommerce-page textarea:focus,
.woocommerce textarea:focus {
    background: #F2EEE8;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    line-height: 2em;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
}

/* Dropdown */
.woocommerce-page .form-row .chosen-container-single .chosen-single,
.woocommerce .form-row .chosen-container-single .chosen-single {
    height: 2.5em;
    line-height: 2.5;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 10px;
    border: 1px solid #E5DDD1;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
}
.woocommerce .form-row .chosen-container-single .chosen-single div b,
.woocommerce-page .form-row .chosen-container-single .chosen-single div b {
    background-position: 0 6px !important;
}
.woocommerce-page .form-row .chosen-container-single.chosen-with-drop .chosen-single,
.woocommerce .form-row .chosen-container-single.chosen-with-drop .chosen-single {
    border: 1px solid #E5DDD1;
    background: #fff;
}
.chosen-container .chosen-drop {
    border: 1px solid #E5DDD1;
    box-shadow: none;
}
.chosen-container .chosen-results li.active-result.highlighted {
    background: #E5DDD1;
    color:#55341B;
}

#ship-to-different-address label.checkbox {
    display:inline-block;
    padding-left: 0px;
    padding-right: 20px;
}
#ship-to-different-address input.input-checkbox {
    height: auto;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width:50%;
}

.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
    float:left;
}

.woocommerce form,
.woocommerce-page form {
    /*max-width: 780px;*/
    margin: auto;
}

.woocommerce-cart form {
    max-width:none;
}

/******************************************************* ACCOUNT PAGE */
.myaccount_user_inner {
    font-size:18px;
    text-align: center;
    margin-bottom:60px;
}

h2.address-title {
    font-size:20px;
    text-transform: uppercase;
}

.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3 {
    font-size:14px;
    margin-top:0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.woocommerce .address,
.woocommerce-page .address {
    margin-bottom:60px;
}

.woocommerce .addresses address,
.woocommerce-page .addresses address {
    color:#553416;
}

.woocommerce .addresses a.edit,
.woocommerce-page .addresses a.edit {
    font-size:12px;
    font-weight: 900;
    margin-top:10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.woocommerce legend,
.woocommerce-page legend {
    margin-top:30px;
    font-weight: 900;
    font-size: 20px;
    color: inherit;
    border:0;
    text-transform: uppercase;
    float: left;
}

/*
*
* Woocommerce Message
*
*/
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message {
    padding: 1em 1em 1em 3.5em!important;
    margin: 0 0 2em!important;
    position: relative;
    -webkit-border-radius: 0px;
    border-radius: 0;
    background: #F2EEE7;
    color: #553416;
    text-shadow: none;
    list-style: none!important;
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
    border-color: #553416;
}
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
    background-color: #553416;
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before{
    height:2.5em;
}

.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error{
    border: 3px solid #b81c23;
    color: #b81c23;
    background: transparent !important;
}
.woocommerce .woocommerce-error:after,
.woocommerce-page .woocommerce-error:before{
    content: none;
}

.woocommerce .woocommerce-message a.button,
.woocommerce-page .woocommerce-message a.button,
.woocommerce .woocommerce-error a.button,
.woocommerce-page .woocommerce-error a.button{
    background: none;
    padding: 0;
    padding-right: 10px;
    text-decoration: underline;
    color: #AC5B72;
}
.woocommerce .woocommerce-message a.button:after,
.woocommerce-page .woocommerce-message a.button:after,
.woocommerce .woocommerce-error a.button:after,
.woocommerce-page .woocommerce-error a.button:after {
    display:none;
}


/* PAgina Bonifico */
